@charset "utf-8";
/*清除浏览器默认样式*/
body,h1,h2,h3,h4,h5,h6,ul,ol,p{
	margin: 0;
	padding: 0;
	list-style: none;
}

a{
	text-decoration: none;
}
/*鼠标滑过*/
a:hover{ 
	color:#64a131;
}

/*行内块元素的垂直对齐*/
img{
	vertical-align: middle;
}
/*外围结构标签的样式*/
#container{
	background: #F7F8F9;
	width: 100%;
	margin: 0 auto;
}
/*1. 导航栏样式*/
#nav{
	width: 100%;
	height: 100px;
	top: 0;
	line-height: 100px;
	border: 1px solid grey;
	background: #FAFBFB;
	position: fixed;
}
/*1.1 右侧导航*/
.rightNav{
	width: auto;
	height: 100px;
	/*border: 1px solid red;*/
	margin-right: 20px;
	float: right;
}

.rightNav>li{
	float: left;
	margin-right: 50px;
}
/*1.2 左侧导航*/
.leftNav>li{
	width: auto;
	height: 100px;
	float: left;
	margin-left: 130px;
}



/*轮播图外边距*/
#wrapper{
	margin: 100px 0;
}
/*轮播图宽度*/
#wrapper img{
	width: 100%;
}

.banner img:not(:first-child){
	display: none;
}

/*轮播图下标*/
.imgNav{
	height: 20px;
	line-height: 10px;
	margin-left: 47.5%;
}

.imgNav>li{
	float: left;
	margin: 0 3px;
	width: 1%;
	height: 10px;
	line-height: 20px;
	background: grey;
	border-radius: 50%;

}

.imgNav>li:first-child{
	background: red;
}

/*我们的店铺*/
#myself{
	margin-top: 50px;
	background: #F7F8F9;
	height: 120px;
	/*border: 1px solid red;*/
}

/*文字大小及居中*/
.myErpDiv{
	padding-top: 15px;
	text-align: center;
}
/*主题信息布局一*/
#main1{
	width: 100%;
	height: 300px;
	background: #F7F8F9;
	/*border: 1px solid red*/
}

.goodsType{
	height: 300px;
	width: 93%;
	margin-left: 3.5%;
	margin-top: 15px;
	/*border: 1px solid blue;*/
}
/*主体信息布局一中ul位置*/
#main1 .goodsType ul{
	height: 300px;
	width: 100%;
	/*border: 1px solid red;*/
}
/*信息展示，列表项*/
#main1 .item{
	/*共行显示三个li元素*/
	float:left;
	width:28%;
	margin-left: 4%;
	overflow: hidden;
	margin-bottom: 5px;
}


/*功能小图标，没什么卵用，不能点*/
#main1 .item .imgInfo{
	margin-top: 15px;
	text-align: center;
	height:65px;
	line-height: 65px;
	overflow:hidden;

}
/*设置h4文本居中*/
#main1 .goodsType .item .content h4{
	margin-top: 10px;
	text-align: center;
}
#main1 .goodsType .item .content p{
	padding-top: 20px;
	float: left;

}

/*同主体一，如有雷同，肯定是巧合*/
#main2{
	margin-top:0;
	width: 100%;
	height: 300px;
	background: #F7F8F9;
	/*border: 1px solid red*/
}

.goodsType{
	height: 300px;
	width: 93%;
	margin-left: 3.5%;
	margin-top: 15px;
	/*border: 1px solid blue;*/
}
/*主体信息布局一中ul位置*/
#main2 .goodsType ul{
	height: 300px;
	width: 100%;
	/*border: 1px solid red;*/
}
/*信息展示，列表项*/
#main2 .item{
	/*共行显示三个li元素*/
	float:left;
	width:28%;
	margin-left: 4%;
	overflow: hidden;
	margin-bottom: 5px;
}


/*功能小图标，没什么卵用，不能点*/
#main2 .item .imgInfo{
	margin-top: 15px;
	text-align: center;
	height:65px;
	line-height: 65px;
	overflow:hidden;

}
/*设置h4文本居中*/
#main2 .goodsType .item .content h4{
	margin-top: 10px;
	text-align: center;
}
#main2 .goodsType .item .content p{
	padding-top: 20px;
	float: left;

}

#bottomDiv{
	width: 100%;
	height: 360px;
	margin-top: 0px;
	background: #000000;
}

#bottomDiv1{
	width: 100%;
	height: 90px;
	background: #282A30;
	float: bottom;
	position: fixed;
	bottom: 0;
}

#bottomDiv1 p{
	font-size: 13px;
	padding-top: 40px;
	margin-left: 150px;


}

#left1{
	float: left;
	width: 20%;
	height: 360px;
}

#left2{
	float: left;
	width: 20%;
	height: 360px;
}

#left3{
	float: left;
	width: 20%;
	height: 360px;
}

#left4{
	float: left;
	width: 20%;
	height: 360px;
}


#left5{
	float: left;
	width: 19%;
	height: 360px;
}

#bottomDiv p{
	color: white;
	text-align: center;
	margin-top: 35px;
}

.logo2{
	margin-left:35%; 
}

.background{
	background-image: url('/static/img/background.jpg');

	display: block;
	width:100px;
	height:100px;
	margin:0 auto;
	padding-top: 500px;
}

.img_1{
	width: 80%;
	/*height: 400px;*/
}

.styled-select select {
   /*background: transparent;*/
   /*width: 268px;*/
   /*padding: 5px;*/
   font-size: 16px;
   /*border: 1px solid #ccc;*/
   /*height: 34px;*/
   /*-webkit-appearance: none; !*for chrome*!*/
}

/*.styled-select {*/
   /*width: 240px;*/
   /*height: 34px;*/
   /*overflow: hidden;*/
   /*!*background: url(new_arrow.png) no-repeat right #ddd;*!*/
/*}*/